services:
  web:
    build: .
    ports:
      - "${WEB_PORT}:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - .env


  db:
    image: ${DB_IMAGE}
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_EXPOSED_PORT}:${DB_PORT}"
    volumes:
      - ${POSTGRES_DATA_VOLUME}:/var/lib/postgresql
      - ./db/create_tables.sql:/docker-entrypoint-initdb.d/01_create_tables.sql
      - ./db/create_indexes.sql:/docker-entrypoint-initdb.d/02_create_indexes.sql
      - ./db/create_views.sql:/docker-entrypoint-initdb.d/03_create_views.sql
      - ./db/create_triggers.sql:/docker-entrypoint-initdb.d/04_create_triggers.sql
      - ./db/create_functions.sql:/docker-entrypoint-initdb.d/05_create_functions.sql
      - ./db/create_procedures.sql:/docker-entrypoint-initdb.d/06_create_procedures.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5


volumes:
  postgres_data:
