<!DOCTYPE html>
<html>
<head>
    <title>Superadmin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h1>Superadmin Panel</h1>

<ul>
{% for table, label in tables.items() %}
    <li><a href="/superadmin_panel/table/{{ table }}">{{ label }}</a></li>
{% endfor %}
</ul>

</body>
</html>
