{% extends "base_action_pane.html" %}

{% block title %}Add Row - {{ table_name }}{% endblock %}

{% block action_buttons %}
<a href="{{ url_for('admin_table', table_name=raw_table_name) }}" class="button">
    <img src="{{ url_for('static', filename='back.png') }}" class="icon" alt="Back to Table"> Back to Table
</a>

<a href="{{ url_for('admin') }}" class="button">
    <img src="{{ url_for('static', filename='admin.png') }}" class="icon" alt="Superadmin Panel"> Superadmin Panel
</a>
{% endblock %}

{% block content %}
<h1>Add Row to {{ table_name }}</h1>

<form method="post">
    <table>
        <tbody>
            {% for col in columns %}
            <tr>
                <td>{{ col.column_name }}</td>
                <td>
                    {% if col.column_name in enum_info %}
                        <select name="{{ col.column_name }}">
                            {% for value in enum_info[col.column_name] %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>

                    {% elif col.column_name in fk_info %}
                        <select name="{{ col.column_name }}">
                            {% for val in fk_info[col.column_name] %}
                                <option value="{{ val }}">{{ val }}</option>
                            {% endfor %}
                        </select>

                    {% else %}
                        <input type="text" name="{{ col.column_name }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 15px;">
        <button type="submit" class="button">
            <img src="{{ url_for('static', filename='add.png') }}" class="icon" alt="Add Row"> Add Row
        </button>
    </div>
</form>
{% endblock %}
